# destination where the logs will be
log_dir: /var/log/DoTheBackup
# define your backups here
backup:
        my_documents:
                # "month" means that it will save the backup in daily directories
                # for example: "/media/backup/documents/07"
                type: month
                source: /home/user/documents
                destination: /media/backup/documents
                # rsync --exclude patterns here
                exclude:
                        - foo
                        - bar
                # rsync --include patterns here
                include:
                        - very_important_dir
        video:
                # "once" backups straight in the destination directory
                # for example: "/media/backup/Videos"
                type: once
                source: /home/user/Media/Videos
                destination: /media/backup/Videos
        important_stuff:
                # you can backup to and from an ssh host
                type: month
                source: /home/user/important_stuff
                destination: user@host:/media/backup/important_stuff
