[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pendulum = "*"
PyYAML = "*"
requests = "*"
typing = "*"


[dev-packages]

pytest = "*"
tox = "*"
"flake8" = "*"
mypy = "*"
pylint = "*"
"flake8-import-order" = "*"
isort = "*"
pytest-sugar = "*"
coverage = "*"
